*{
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#dots {
    filter: invert();
    vertical-align: middle;
}

#dots:hover {
    opacity: 0.8;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    vertical-align: middle;
}

.navbar a {
    color: #ffffff;
    margin: 8px;
    font-size: 13px;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline;
}

.sign-in {
    border-radius: 100px;
    background-color: #0b57d0;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    outline: none;
    text-align: center;
    white-space: normal;
    line-height: 18px;
    position: relative;
    padding: 10px 12px;
    min-width: 85px;
}

.main {
    flex: 1;
}

.main .banner {
    display: block;
	margin: 0px auto;
	margin-top: 107px;
    filter: saturate(0);
}

.search {
    width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}

.search .search-input {
    display: block;
	border: 1px solid #4d5156;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
    background-color: #4d5156;
}

.search .search-input:hover {
    background-color: #5f6368;
}

.search .search-icon {
    width: 20px;
    height: 20px;
    opacity: 0.4;
	position: absolute;
	top: 13px;
	left: 14px;
    filter: invert(1);
}

.search .mic-icon {
    height: 24px;
    width: 24px;
	position: absolute;
	top: 13px;
	right: 55px;
    filter: saturate(0);
}

.search .cam-icon {
    width: 24px;
    height: 24px;
	position: absolute;
	top: 13px;
	right: 15px;
    filter: saturate(0);
}

.search-button {
    border: 1px solid transparent;
	padding: 9px 15px;
	color: #e8eaed;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
    background-color: #303134;
}

.search-button:hover {
    border: 1px solid #5f6368;
}

.lang {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #bfbfbf;
}
.lang a {
	margin-left: 5px;
	color: #99c3ff;
}
.lang a:hover {
	text-decoration: underline;
}

footer {
	background: #171717;
}

footer h4 {
	color: #e8e8e8;
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
}

footer a {
	color: #e8e8e8;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}

footer a:hover {
	text-decoration: underline;
}

.footer-links {
	border-top: 1px solid #313335;
	display: flex;
}

.footer-links-i-guess {
	padding-left: 18.7px;
	flex: 1;
}

.footer-links-also {
	padding-right: 18.7px;
}